<script type="text/javascript" language="javascript">
  function removeToolbar()
  {
     var ELiframe = window.frames['mainframe'];
     if( ELirame != null )
     {
	    var url = ELiframe.location.href;
        document.location.assign(url);
     } else {       
	    $('toolbar').hide('fast');
     }
  }
</script>
<div class="toolbar">
   <a href="javascript:removeToolbar();" ref="nofollow">Remove Toolbar</a>
   <a href="<%= search_url %>" ref="nofollow">Goto Legislators List</a>
   <a href="<%= original_url %>" ref="nofollow">Return</a>
</div>
