body {
  color: #060d43;
  background-color:#001937;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
h1 {
  color:#010e42;
  text-transform:uppercase;
  font-size:18px;
  width:527px;
  margin: 0px auto;
}
h2{
	color:#8D1231;
	font-size:22px;
	position:relative;
	top:44px;
	left:10px
}
form{
	margin: 0px auto;
	width: 388px;
}
span.politician_name
{
   color:#8d1231;
   font-weight:bold;
}
input[type="submit"]
{
	border:solid 1px #FF0000;
	font-weight:bold;
	color:#FF0000;
	background-color:#999;
  padding: 0.5em;
	margin:10px auto;
}
input[type="submit"]:hover
{
	border:solid 1px #FF0000;
	font-weight:bold;
	color:#FF0000;
	background-color:#AAA;
  padding: 0.5em;
	margin:10px auto;
}
input[type="text"]
{
	border-style:solid none;
        border-color:#8d1231;
        border-top-width:4px;
        border-bottom-width:9px;
	width:300px;
        margin:0px;
        
	padding:5px 0px 0px 0px;       
        height:21px;
}
img.search-surround
{
	margin:0px;
	padding:0px;
	position:relative;
        top:17px;
}
input[type="image"].search-button
{
	position:relative;
	top:26px;
}
div#header
{
	text-align:center;
	
}
div#header h1
{
  font-family: serif;
	margin:0px;
}
div#header h1 a
{
	margin:0px;
  color: #333;
  text-decoration: none;
}
div#header span
{
	font-size:small;
	position:relative;
	top:-10px;
	left:62px;
}
div#content
{
	width:900px;
	margin:0px auto;
        background-color:#b8ab9a;
	-moz-border-radius: 10px;	
	-webkit-border-radius: 10px;	
}
div#search{
	background-color:#ebe7de;
	margin:0px auto;
	/*border: solid 1px #FFFFFF;*/
	padding:30px;
	width:840px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-radius-topleft: 10px;
	-webkit-border-radius-topright: 10px;
}
div#footer a{
	color:#f2e5d5;
	text-decoration:none;
	text-transform:capitalize;
	font-size:9px;
}
div#footer ul{
	width:335px;
	margin: 10px auto;
	padding: 0px;
	
}
div#footer ul li
{
	float:left;
	margin:3px;
	font-size:x-small;
	list-style-type:none;
}
ul
{
	margin:0px auto;
	width:537px;
	padding:0px;
}
li.D, li.R 
{
	list-style:none;
	clear:both;
	padding:10px;
	/*border:solid 3px;*/
	margin:5px;
	background-color:#ebe7de;
	width:537px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
li.D
{
	/*border-color:#0000FF;*/
}
li.R 
{
	/*border-color:#FF0000;*/
}
img.politician_picture
{
	float:left;
	background-color:#FFFFFF;
  	/*margin: 1em;	*/
}
div.politician_name
{
	float:left;
  	margin: 0px 20px 0px 5px;
  	width: 137px;
	text-align:right;
}
div.politician_address
{
	float:left;
 	
	width:265px
}

.notice {
  color: #007200;
  background-color: #EEE8AA;
}

div#tools {
  width: 444px;
  margin: 30px auto;
  text-align: center;
}

div#tools div.tool_type {
  float: left;
  border: 1px solid #999;
  width: 200px;
  margin: 10px;
  text-align: center;
}
