body {
  color: #060d43;
  background-color:#001937;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
h1 {
  color:#010e42;
  text-transform:uppercase;
  font-size:18px;
  width:527px;
  margin: 0px auto;
}


span.politician_name
{
   color:#8d1231;
   font-weight:bold;
}
input[type="submit"]
{
	border:solid 1px #FF0000;
	font-weight:bold;
	color:#FF0000;
	background-color:#999;
  padding: 0.5em;
	margin:10px auto;
}
input[type="submit"]:hover
{
	border:solid 1px #FF0000;
	font-weight:bold;
	color:#FF0000;
	background-color:#AAA;
  padding: 0.5em;
	margin:10px auto;
}


div#header
{
	text-align:center;
	
}
div#header h1
{
  font-family: serif;
	margin:0px;
}
div#header h1 a
{
	margin:0px;
  color: #333;
  text-decoration: none;
}
div#header span
{
	font-size:small;
	position:relative;
	top:-10px;
	left:62px;
}
div#wrapper
{
	border:solid 5px #8f0f30;
	-moz-border-radius: 30px;	
	-webkit-border-radius: 30px;
	margin: 0px auto;
	width:646px;
	padding:5px;
}
div#content
{
	width:645px;
	margin:0px auto;
        background-color:#b8ab9a;
	-moz-border-radius: 20px;	
	-webkit-border-radius: 20px;	
}

ul
{
	margin:0px auto;
	width:537px;
	padding:0px;
}
li.D, li.R 
{
	list-style:none;
	clear:both;
	padding:10px;
	/*border:solid 3px;*/
	margin:5px;
	background-color:#ebe7de;
	width:537px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
li.D
{
	/*border-color:#0000FF;*/
}
li.R 
{
	/*border-color:#FF0000;*/
}
img.politician_picture
{
	float:left;
	background-color:#FFFFFF;
	width:66px;
	height:85px;
  	/*margin: 1em;	*/
}
div.politician_name
{
	float:left;
  	margin: 0px 20px 0px 5px;
  	width: 137px;
	text-align:right;
}
div.politician_address
{
	float:left;
	width:265px
}

.notice {
  color: #007200;
  background-color: #EEE8AA;
}

div#tools {
  width: 444px;
  margin: 30px auto 0px auto;
  text-align: center;
}

div#tools div.tool_type {
  float: left;
  border: 1px solid #999;
  width: 200px;
  margin: 10px;
  text-align: center;
}
br.clear 
{
	clear:both;
}

/*Search Styles*/
div#search input[type="text"]
{
	border-style:solid none;
        border-color:#8d1231;
        border-top-width:4px;
        border-bottom-width:9px;
	width:266px;
        margin:1px 0px 0px 0px;
        
	padding:5px 0px 0px 0px;       
        height:21px;
	
	float:left;	
}

div#search form{
	margin: 0px auto;
	width: 376px;
	padding-left:37px;
	padding-top:38px;
}
div#search h2
{
	color:#8D1231;
	font-size:17px;
        letter-spacing:-2px;
	font-family:Verdana;
	/*position:relative;
	top:25px;
	left:10px*/
	margin:7px 0px 6px 13px;
	padding:0px;
}

img.search-surround
{
	float:left;
	margin:1px 0px 0px;
	padding:0px;      
}
input[type="image"].search-button
{
	position:relative;
	top:-8px;
	left:-19px;
	float:right;
}
div#search{
	background-color:#ebe7de;
	margin:0px auto 10px auto;
	/*border: solid 1px #FFFFFF;*/
	padding:0px;
	width:645px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-topright: 20px;
	-webkit-border-top-right-radius: 20px;  
	-webkit-border-top-left-radius: 20px;  
}

/*footer styles*/
div#footer 
{
	margin-top:3px;
}
div#footer a{
	color:#f2e5d5;
	text-decoration:none;
	text-transform:capitalize;
	/*font-size:12px;*/
}
div#footer ul{
	width:505px;
	margin: 0px auto;
	padding: 0px;
	
	
}
div#footer ul li.first
{
	border:none;
}
div#footer ul li
{
	float:left;
	margin:0px;
	padding:0px 5px;
	list-style-type:none;
	border-left:solid 1px #f2e5d5;
}

