body {
  color: #060d43;
  background-color:#001937;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  background-image: url('../images/design/TMP_BACKGROUND.jpg');
  background-repeat:no-repeat;
  background-position:top center;
}
img {
	border:none;
}
h1 {
  color:#010e42;
  text-transform:uppercase;
  font-size:18px;
  width:527px;
  margin: 0px auto;
}

h2 {
  padding-top: 10px;
  margin-top: 20px;
}

h3 {
  margin-top: 20px;
}
div.bookmarklet
{
  border:solid 3px #001937;
  background-color:#B8AB9A;
  padding:10px 10px 10px 10px;
  display:inline;
  margin-left:30px;
}
div.bookmarklet img
{
	margin:3px 5px 0px 0px;
}
div.bookmarklet a
{
  color:#001937;
  font-weight:bold;
  text-decoration:none;

}
span.politician_name
{
   color:#8d1231;
   font-weight:bold;
}
/*
input[type="submit"]:hover
{
	border:solid 1px #FF0000;
	font-weight:bold;
	color:#FF0000;
	background-color:#AAA;
  padding: 0.5em;
	margin:10px auto;
}
*/

div#header
{
	text-align:center;
  height:63px;
}
div#header a
{
	margin:0px;
	text-decoration: none;
	position:relative;
	top:5px;
}
div#header a img
{
	border:none;
}
div.header h2
{
  border: none;
  margin-top:30px;
}
div#wrapper
{
	border:solid 5px #8f0f30;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	margin: 0px auto;
	width:646px;
	padding:5px;
}
img.instructions
{
	float:right;
	position:relative;
	top:23px;
	right:126px;
}
p.topp
{
	margin-bottom:30px;
}
p.bottomp
{
	clear:both;
	margin-top:30px;
}
div#content
{
	width:645px;
	margin:0px auto;
	background-color:#ebe7de;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}
body.legislators div#content
{
  background-color:#b8ab9a;
}
div#content a:visited {
  color: #060d9b;
}
div#content a:hover {
  color: #8D1231;
}
ul
{
	margin:0px auto;
	width:537px;
	padding:0px;
}
li.D, li.R
{
	list-style:none;
	clear:both;
	padding:10px;
	/*border:solid 3px;*/
	margin:5px;
	background-color:#ebe7de;
	width:537px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
li.D
{
	/*border-color:#0000FF;*/
}
li.R
{
	/*border-color:#FF0000;*/
}
img.politician_picture
{
	float:left;
	background-color:#FFFFFF;
	width:66px;
	height:85px;
  /*margin: 1em;	*/
}
div.politician_name
{
	float:left;
  margin: 0px 20px 0px 5px;
  width: 137px;
	text-align:right;
}
div.politician_address
{
	float:left;
	width:265px
}

div.politician_address address {
  font-style: normal;
}

.notice {
  color: #007200;
  background-color: #EEE8AA;
}

div#tools {
  width: 414px;
  margin: 30px auto 0px auto;
  text-align: center;
}

div#tools div.tool_type {
  float: left;
 /* border: 1px solid #999;*/
  background-repeat:no-repeat;
  width: 187px;
  height:240px;
  margin: 10px;
  text-align: center;
}
div#tools div.tool_type div {
   margin: 92px 23px 0px 23px;
   font-size:14px;
   color:#B8AB9A;
   font-weight:bold;
   font-family:Helvetica;
}
div#tools div.tool_type div a {
   display:block;
   margin:0px 15px;
   font-size:10px;
   color:#FFF;
   font-weight:bold;
   font-family:Verdana;
   text-decoration:none;
}
br.clear
{
	clear:both;
}

/*Search Styles*/
div#search input[type="text"]
{
	border-style:solid none;
        border-color:#8d1231;
        border-top-width:4px;
        border-bottom-width:9px;
	width:266px;
        margin:1px 0px 0px 0px;

	padding:5px 0px 0px 0px;
        height:21px;

	float:left;
}

div#search form{
	margin: 0px auto;
	width: 376px;
	padding-left:37px;
	padding-top:38px;
}
div#search h2
{
	color:#8D1231;
	font-size:17px;
        letter-spacing:-2px;
	font-family:Verdana;
	/*position:relative;
	top:25px;
	left:10px*/
	margin:7px 0px 6px 13px;
	padding:0px;
}

img.search-surround
{
	float:left;
	margin:1px 0px 0px;
	padding:0px;
}
input[type="image"].search-button
{
	position:relative;
	top:-8px;
	left:-19px;
	float:right;
}
div#search{
	padding:0px;
	width:645px;
}
/* header for all the other pages that don't have the search box */
div.header
{
	background-color:#ebe7de;
	margin:0px auto 10px auto;
	/*border: solid 1px #FFFFFF;*/
	padding:15px 10px 10px 10px;
	width:625px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-topright: 20px;
	-webkit-border-top-right-radius: 20px;
	-webkit-border-top-left-radius: 20px;
}
div.contentcontainer
{
	padding: 10px;
	font-family:Verdana;
  color:#000;
	font-size:14px;
	line-height:1.5em;
}

body.sites-siteinstructions div.contentcontainer,
body.sites-privacy div.contentcontainer,
body.sites-about div.contentcontainer {
  margin-top: -25px;
}
body.sites-siteinstructions div.header,
body.sites-privacy div.header,
body.sites-about div.header {
  margin-bottom: 0;
}
body.sites-siteinstructions div.contentcontainer textarea {
  border: 1px solid #000;
}
div.contentcontainer div.indent {
  margin-left: 1.5em;
}

/*contact page*/
form#contact
{
	padding:10px;
	width:460px;
	margin:0px auto;
}
form#contact label
{
	width:120px;
	text-align:right;
	display:block;
	float:left;
	clear:left;
	margin:3px;
	margin-top:6px;
	/*font-weight:bold;*/
}
form#contact input[type="text"]
{
	margin-top:3px;
	float:left;
	clear:right;
	width:300px;
	border: solid 3px #EBE7DE;
}
form#contact textarea
{
	margin-top:3px;
	margin-left:126px;
	width:300px;
	clear:both;
	border: solid 3px #EBE7DE;
}
form#contact select
{
	width:306px;
	border: solid 1px #EBE7DE;
}
form#contact input[type="submit"]
{
	border:solid 4px #060D43;
	font-weight:bold;
	color:#8F0F30;
	background-color:#EBE7DE;
  	padding: 5px;
	width:306px;
	clear:both;
	margin-top:3px;
	margin-left:126px;
}
form#contact input.required, form#contact textarea.required
{
	border:solid 3px #8F0F30;
}
/*footer styles*/
div#footer
{
	margin-top:3px;
  text-align: center;
}
div#footer a {
	color:#f2e5d5;
	text-decoration:none;
	text-transform:capitalize;
	font-size:12px;
}
div#footer ul{
	width: 34em;
	margin: 0px auto;
	padding: 0px;
  text-align: center;
}
div#footer ul li.first
{
	border:none;
}
div#footer ul li
{
	float:left;
	margin:0px;
	padding:0px 5px;
	list-style-type:none;
	border-left:solid 1px #f2e5d5;
}

div#footer ul li a:hover {
  color: #8D1231;
}

form#contact label.error
{
	background-color:#EBE7DE;
	color:#8F0F30;
	font-weight:bold;
	width:296px;
	text-align:left;
	padding:5px;
	margin-bottom: 5px;
	margin-left:119px;
}
div#flash
{
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-topright: 20px;
	-webkit-border-top-right-radius: 20px;
	-webkit-border-top-left-radius: 20px;
        background-color:#8F0F30;
	float:left;
	width:100%;
	text-align:center;
	font-weight:bold;
	color:#fff;
	padding-top:50px;
	padding-bottom:10px;
	margin-bottom:5px;
}
/*homepage*/
span.byline
{
	color:#001937;
}
div.leftbar
{
	float:left;
        width:90px;
}
img.full
{
	display:block;
}
img#getbutton
{
	margin-top:25px;
}
div.rightbar img
{
	margin:0 auto;
}

div.rightbar
{
	text-align:center;
	float:right;
	color:#001937;
	font-weight:bold;
	background-color:#cfc7bc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding:10px;
}

div.homecontainer h1
{
	color:#001937;
	font-size:22px;
	text-transform:none;
	margin-bottom:10px;
}
div.homecontainer h2
{
	color:#001937;
	font-size:16px;
	margin-bottom:5px;
	margin-top:10px;
	border:none;
	padding:0px;
}
div.homecontainer h3
{
	color:#8F0F30;
	margin-top:40px;
	margin-bottom:5px;
}
div.homecontainer p
{
	margin: 0px 0px 5px 0px;
}

div.homecontainer
{
	padding:45px 10px 10px 10px;
	background-color:#EBE7DE;
	line-height:1.3em;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;	
}
div.homecontainer div#home-text {
  float: left;
  width: 532px;
  margin-top: 10px;
}
div.content
{
	padding-top:35px;
	background-color:#EBE7DE;
}
div.homecontainer li
{	
	list-style-position:inside;
}
div.homecontainer a
{
	text-decoration:none;
	font-weight:bold;
}
div.homecontainer a:visited {
  color: #060d9b;
}
div.homecontainer a:hover {
  color: #8D1231;
}
div.rightbar h3
{
	margin-top:10px;
	margin-bottom:10px;
}
