	<%= link_to h(@link.title), @link.url %>
	
	<div id="search">
		<p>Find Your Representatives</p>
		<input type="text" id="SearchField"/>
		<input type="submit" value="Search" id="SearchBtn" />
	</div>
