<div id="search">
	<% form_tag('/legislators', :method => :get) do %>
		<h2>Find Your Representatives</h2>
    <!--<p class="notice">* Providing your full address will ensure accurate results.</p>-->
		<img class="search-surround left" src="./images/design/ls-search-box.jpg"/>
		<%= text_field_tag :address, nil,:value=>"Enter your full address to find your represenatives" %>
		<img class="search-surround right" src="./images/design/rs-search-box.jpg"/>
		<%= image_submit_tag '/images/design/find-button.jpg', :class=>'search-button' %>
		<br class="clear"/>
	<% end %>
</div>
<script type="text/javascript">
	$(document).ready((function(){  
		$('#address').emptyonclick();  
	}); 
</script>
