<div id="search">
	<% form_tag('/legislators', :method => :get) do %>
		<h2>Find Your Representatives</h2>
    <!--<p class="notice">* Providing your full address will ensure accurate results.</p>-->
		<img class="search-surround" src="./images/design/ls-search-box.jpg"/><%= text_field_tag :address, nil,:watermark=>"Enter your full address here"  %><img class="search-surround" src="./images/design/rs-search-box.jpg"/>
		<%= image_submit_tag '/images/design/find-button.jpg', :class=>'search-button' %>
	<% end %>
</div>
