<% title('About TellMyPolitician') %>
<%= meta_description("TellMyPolitician lets you tell your politicians your thoughts the minute you read something online and then send them the link. Add it to your site today.") %>
<div class="header">
  <h2>About TellMyPolitician</h2>
</div>
<div class="contentcontainer">
  <p>
    TellMyPolitician helps you tell your politicians your thoughts the minute you read something online, along with the link to what you read, using the TellMyPolitician Button or Bookmarklet.
  </p>
  <h2>Our Story</h2>
  <p>
    "In the fall of 2008 I was trying to contact my politicians about events that were taking place. The sad part is I didn't do it. I have contacted my politicians in the past, but I realized why we don't contact our politicians: It's not because we don't want to, but often because we are too lazy or too busy. That led to the idea that we could make it easy for people to contact their politician by helping them contact them when they are ready, which is as soon as they read or watch the news online." -Tim
  </p>
  <p>
    We are lowering the barriers for citizens to contact their politicians and let their voice be heard. As a publisher, it has never been easier to help your readers contact their politician.  Just <a href="http://tellmypolitician.com/siteinstructions">add TellMyPolitican to your site</a> by placing the TellMyPolitician Button at the end or your videos, articles, or posts.
  </p>
  <p>
    TellMyPolitician uses the <a href="http://services.sunlightlabs.com/api/">Sunlight Labs API</a> to pull congressional contact information when searching for your politicians. We would like to thank <a href="http://sunlightlabs.com/">Sunlight Labs</a> for providing this API.
  </p>
</div>
