<div class="header">
<h2>About TellMyPolitician</h2>
</div>
<div class="contentcontainer">
<p>
TellMyPoliticians soul purpose is to allow citizens to contact their politicians easily from any site on the Internet.  
</p>
<p>
Citizens don't wake up one day and say, "I want to write my politician today." When citizens want to write their politicians it is because they have read or watched something in the news. That is why it is important to give citizens easy access to their politicians when they are most likely to let their voices heard.   
</p>
<p>
Our goal with TellMyPolitician is to let citizens tell and share with their politician any news they have found on the web. By working with publishers to install TellMyPolitician on their site, citizens will have the greater access to their politicians than ever before.  
</p>
</div>
