<% title('About TellMyPolitician') %>
<div class="header">
<h2>About TellMyPolitician</h2>
</div>
<div class="contentcontainer">
<p>
TellMyPolitician lets you tell your politicians your thoughts the minute you read something online and send them the link with the TellMyPolitician Button or Bookmarklet.
</p>
<p>
When citizens want to write their politicians it is because they have read or watched something in the news. Without a simple means to act many people would never follow through with their plans to contact their politician. That is why it is important to give citizens easy access to their politicians when they are most likely to let their voices be heard. 
</p>
<p>
TellMyPolitician's goal is to let citizens tell and share with their politician any news they have found on the web. By working with publishers to install TellMyPolitician on their sites, citizens will have greater access to their politicians than ever before. <a href="http://tellmypolitician.com/siteinstructions">Add TellMyPolitician to your site</a>. 
</p>
<p>
TellMyPolitician uses the <a href="http://services.sunlightlabs.com/api/">Sunlight Labs API</a> to pull congressional contact information when searching for your politicians. We would like to thank <a href="http://sunlightlabs.com/">Sunlight Labs</a> for providing this API.
</div>
