<div class="header">
<h2>TellMyPolitician Bookmarklet</h2>

<%= image_tag "/images/design/bookmarklet-instructions.png",:class=>"instructions" %>

<p class="topp">Click and drag the button below to your bookmark bar.</p>
<div class="bookmarklet">
<%= image_tag "/images/design/TMP_BADGE.png" %>
<a href="javascript:void((function(){var%20ELscript=document.createElement('script');ELscript.setAttribute('type','text/javascript');ELscript.setAttribute('src','http://tellmypolitician.com/javascripts/bookmarklet.js');document.body.appendChild(ELscript)})())">TellMyPolitician</a>
</div>



<p class="bottomp">If your browser doesn't show the bookmarks bar, go to view then toolbar in the menu
</p>

</div>
<div class="contentcontainer">
<p>The TellMyPolitician Bookmarklet let's you contact your politicians from any site on the web, even if the site doesn't use our button. </p>


<p>
When you come across a link on the web that makes you want to contact your politician and give them your opinion, or your praise just click on the bookmark in your browser and you will be sent to your politicians contact info. Once there you can choose how to contact them, whether by phone, fax, mail, or email. When you choice to email them you will be led to their contact form with a tool bar at the top of the page, that will let you copy and past the article's URL into the politicians contact form.
</p>

<p>
To get started just click and drag the button on the right hand of the page to your browsers bookmark bar. If your browser doesn't show the bookmarks bar, go to view then toolbar in the menu and choose the bookmarks bar, then drag the link to it.
</p>
</div>
