<div class="header">
<h2>TellMyPolitician Bookmarklet</h2>

<%= image_tag "/images/design/bookmarklet-instructions.png",:class=>"instructions" %>

<p class="topp">Click and drag the button below to your web browser's bookmarks bar.</p>
<div class="bookmarklet">
<%= image_tag "/images/design/TMP_BADGE.png" %>
<a href="javascript:void((function(){var%20ELscript=document.createElement('script');ELscript.setAttribute('type','text/javascript');ELscript.setAttribute('src','http://tellmypolitician.com/javascripts/bookmarklet.js');document.body.appendChild(ELscript)})())">TellMyPolitician</a>
</div>

<p class="bottomp">If your browser's bookmarks bar is not visible, click on "View" and then "Toolbar" in the main menu.</p>

</div>
<div class="contentcontainer">
<p>The TellMyPolitician Bookmarklet lets you contact your politicians from any site on the web, even if the site doesn't use our button. </p>


<p>
When you come across a link on the web that makes you want to contact your politician and give them your opinion or praise, just click on the bookmark in your browser and you will be sent to your politician's contact information. Once there, you can choose to contact them by phone, fax, mail, or email. When you choose to email, you will be led to a contact form with a toolbar at the top of the page that will allow copying and pasting the article's URL into the politician's contact form.
</p>

<p>
To get started, just click and drag the button on the right hand of the page to your browser's bookmarks bar. If your browser doesn't show the bookmarks bar, click on "View" and then "Toolbar" in the menu and choose the bookmarks bar.
</p>
</div>
