<%= render :partial => 'legislators/search_form' %>
<div id="tools">
  <div class="tool_type"><h2>Publishers</h2></div>
  <div class="tool_type"><h2>Users</h2></div>
  <div style="clear: both;">&nbsp;</div>
</div>
