<%= render :partial => 'legislators/search_form' %>

<div id="tools">
  <div class="tool_type">
	<%= link_to( 
		image_tag('/images/design/publishers.png'), 
		:controller=>:sites, 
		:action=>'siteinstructions') 
	%>
  </div>
  <div class="tool_type">
	<%= link_to( 
		image_tag('/images/design/users.png'), 
		:controller=>:sites, 
		:action=>'instructions') 
	%> 
  </div>
  <div style="clear: both;">&nbsp;</div>
</div>
