 title('Thank You')
<div class="header">
	<h2>Thank you</h2>
</div>
<div class="contentcontainer">
Thank you again for visiting our site and taking the time to contact us. We will try to respond as soon as we can. In the meantime, ask your favorite blog or website to add TellMyPolitician to their site. 
</div>
