<% title('Add TellMyPolitician To Your Website') %>
<%= meta_description("Add TellMyPolitician to your site, to allow your users to contact their politicians from you site, about issues important to them.") %>
<div class="header">
  <h2>Add TellMyPolitician To Your Site</h2>
</div>
<div class="contentcontainer">

  <p>
    The TellMyPolitician Button allows users to click a button on your site to share content with their politicians, much like they would click a Digg, Reddit, or StumbleUpon button to share your content across the web. We understand that people are most likely to contact their politicians when they read or watch the news. That is why we want to help users act on those urges to get their voices heard. Not only will users contact their politician from your site&#8212;they will be sharing your original content with them.
  </p>
  <p>
    Add TellMyPolitician to your site in one of the following ways:
  </p>
  <ul>
    <li><a href="#JSButton">Javascript Button</a></li>
    <li><a href="#wordpress">Wordpress Plugin</a></li>
    <li><a href="#blogger">Blogger Integration</a></li>
    <li><a href="#more">More To Come...</a></li>
  </ul>

  <h2><a name="JSButton">Javascript Button</a></h2>
  <p>
    To add TellMyPolitician to your site simply copy and paste the code snippet below between the &lt;body&gt; and &lt;/body&gt; tags in your site. You can also add the code to your template files to easily add the button to all pages on your site. You could even include it with other social bookmarking tools your site already uses. Feel free to customize this code in any way necessary to make it work within your site.
  </p>
  
  <h3>Button Only</h3>
<p><strong>Example</strong>:
    <script type="text/javascript">
		function tmp_click() {
		var url = escape(location.href);
		var title = escape(document.title);
		var tlocation = 'http://tellmypolitician.com/search?u=' + url + '&title=' + title;
		document.location=tlocation;
		return false;
		}
		</script>
		<a href="http://tellmypolitician.com/search?" title="Contact Your Representatives" onclick="return tmp_click()" target="_blank"><img src="http://tellmypolitician.com/images/design/tmp_publisher_button.png" hspace="5"></a>
</p>
  <div class="codeblock">
    <textarea style="overflow: auto;" rows="9" cols="70" wrap="off" readonly>

<script type="text/javascript">
  function tmp_click() {
    var url = escape(location.href);
    var title = escape(document.title);
    var tlocation = 'http://tellmypolitician.com/search?u=' + url + '&title=' + title;
    window.open(tlocation);
    return false;
  }
</script>
<a href="http://tellmypolitician.com/search?" title="Contact Your Representatives" onclick="return tmp_click()" target="_blank"><img src="http://tellmypolitician.com/images/design/TMP_BADGE.png" hspace="5"></a><a href="http://tellmypolitician.com/search?" title="Contact Your Representatives" onclick="return tmp_click()" target="_blank">TellMyPolitician</a>

    </textarea>
  </div>

<p>Here are a few more variations from which to choose:</p>

<h3>Icon Only</h3>
<p><strong>Example</strong>:
  <script type="text/javascript">
  function tmp_click() {
  var url = escape(location.href);
  var title = escape(document.title);
  var tlocation = 'http://tellmypolitician.com/search?u=' + url + '&title=' + title;
  window.open(tlocation);
  return false;
  }
  </script>
  <a href="http://tellmypolitician.com/search?" title="Contact Your Representatives" onclick="return tmp_click()" target="_blank"><img src="http://tellmypolitician.com/images/design/TMP_BADGE.png" hspace="5"></a>
</p>
<div class="codeblock">
  <textarea style="overflow: auto;" rows="9" cols="70" wrap="off" readonly>

<script type="text/javascript">
  function tmp_click() {
    var url = escape(location.href);
    var title = escape(document.title);
    var tlocation = 'http://tellmypolitician.com/search?u=' + url + '&title=' + title;
    window.open(tlocation);
    return false;
  }
</script>
<a href="http://tellmypolitician.com/search?" title="Contact Your Representatives" onclick="return tmp_click()" target="_blank"><img src="http://tellmypolitician.com/images/design/TMP_BADGE.png" hspace="5"></a>

  </textarea>
</div>

<h3>Text Only</h3>
<p><strong>Example</strong>:
  <script type="text/javascript">
  function tmp_click() {
  var url = escape(location.href);
  var title = escape(document.title);
  var tlocation = 'http://tellmypolitician.com/search?u=' + url + '&title=' + title;
  window.open(tlocation);
  return false;
  }
  </script>
  <a href="http://tellmypolitician.com/search?" title="Contact Your Representatives" onclick="return tmp_click()" target="_blank">TellMyPolitician</a>
</p>
<div class="codeblock">
  <textarea style="overflow: auto;" rows="9" cols="70" wrap="off" readonly>

<script type="text/javascript">
  function tmp_click() {
    var url = escape(location.href);
    var title = escape(document.title);
    var tlocation = 'http://tellmypolitician.com/search?u=' + url + '&title=' + title;
    window.open(tlocation);
    return false;
  }
</script>
<a href="http://tellmypolitician.com/search?" title="Contact Your Representatives" onclick="return tmp_click()" target="_blank">TellMyPolitician</a>

  </textarea>
</div>

<h3>Icon &amp; Text</h3>
<p><strong>Example</strong>:
  <script type="text/javascript">
  function tmp_click() {
  var url = escape(location.href);
  var title = escape(document.title);
  var tlocation = 'http://tellmypolitician.com/search?u=' + url + '&title=' + title;
  window.open(tlocation);
  return false;
  }
  </script>
  <a href="http://tellmypolitician.com/search?" title="Contact Your Representatives" onclick="return tmp_click()" target="_blank"><img src="http://tellmypolitician.com/images/design/TMP_BADGE.png" hspace="5"></a><a href="http://tellmypolitician.com/search?" title="Contact Your Representatives" onclick="return tmp_click()" target="_blank">TellMyPolitician</a>
</p>

<div class="codeblock">
  <textarea style="overflow: auto;" rows="9" cols="70" wrap="off" readonly>

<script type="text/javascript">
  function tmp_click() {
    var url = escape(location.href);
    var title = escape(document.title);
    var tlocation = 'http://tellmypolitician.com/search?u=' + url + '&title=' + title;
    window.open(tlocation);
    return false;
  }
</script>
<a href="http://tellmypolitician.com/search?" title="Contact Your Representatives" onclick="return tmp_click()" target="_blank"><img src="http://tellmypolitician.com/images/design/TMP_BADGE.png" hspace="5"></a><a href="http://tellmypolitician.com/search?" title="Contact Your Representatives" onclick="return tmp_click()" target="_blank">TellMyPolitician</a>

   </textarea>
</div>

<h2><a name="wordpress">Wordpress Plugin</a></h2>
<p>
  This plugin adds a footer link to share the current post or page with your politician using TellMyPolitician.com. While the plugin is activated, a link will appear after the content of the post with the text &quot;TellMyPolitician&quot; or the TellMyPolitician icon or both. Clicking this link will bring the user to the TellMyPolitician site. Once at TellMyPolitician, the user will be directed to input their address to find their politician. Clicking on a politician's email will allow users to copy and paste your site link into the email field to tell the politician about the article on your site.
</p>
<b>Installation:</b><br/>
<ol>
  <li>Add the folder called tellmypolitician-plugin (without the quotes) to your '/wp-content/plugins/' directory.</li>
  <li>Activate the plugin through the 'Plugins' menu in WordPress.</li>
  <li>Go to 'Settings-> TellMyPolitician' in your admin interface to select your options.</li>
</ol>
<b>CSS:</b><br/>
<p>
  The CSS for this plugin is found in the included tellmypolitician.css file. This file may be edited to change the style of the link.
</P>
<p>
  Download the <a href="http://tellmypolitician.com/files/tellmypolitician-plugin.zip">TellMyPolitician Wordpress Plugin</a>.
  <br/><br/>
  <h2><a name="blogger">Blogger Integration</a></h2>
  <p>
    For those who use blogger, copy the code snippet below and <a href="http://help.blogger.com/bin/answer.py?answer=53220&topic=12488">follow the instructions by Google to install our button on your site</a>.
  </p>
  <div class="codeblock">
<textarea style="overflow: auto;" rows="9" cols="70" wrap="off" readonly>
<script type="text/javascript">
  function tmp_click() {
    var url = escape(location.href);
    var title = escape(document.title);
    var tlocation = 'http://tellmypolitician.com/search?u=' + url + '&title=' + title;
    window.open(tlocation);
    return false;
  }
</script>
<a href="http://tellmypolitician.com/search?" title="Contact Your Representatives" onclick="return tmp_click()" target="_blank"><img src="http://tellmypolitician.com/images/design/TMP_BADGE.png" hspace="5"></a><a href="http://tellmypolitician.com/search?" title="Contact Your Representatives" onclick="return tmp_click()" target="_blank">TellMyPolitician</a>
</textarea>
  </div>
  <h2><a name="more">More To Come...</a></h2>
  <p>
    We will be adding many new ways to integrate TellMyPolitician in the future. If you have any special requests please feel free to <a href="http://www.tellmypolitician.com/contact">contact us</a>.
  </p>
</div>
