<div class="header">
<h2>Add TellMyPolitician To Your Site</h2>
</div>
<div class="contentcontainer">

<p>
People are most likely to want to contact their politicians when they read or watch the news. That is why at TellMyPolitician we want to help users act on those urges to get their voices heard. Not only will users have a chance to contact their politician, but they will be sharing your original content with them.
</p>
<p>
As a publisher it is now simple to give your users this opportunity. TellMyPolitician has developed several ways for you to integrate our service into your site, with many more to come.
</p>
<ul>
<li><a href="#JSButton">The basic Javascript Button</a></li>
<li><a href="#wordpress">The Wordpress Plugin</a></li>
<li><a href="#blogger">Integrating With Blogger</a></li>
<li><a href="#more">More To Come...</a></li>
</ul>
<br/><br/>

<h2><a name="JSButton">The basic Javascript Button</a></h2><br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<h2><a name="wordpress">The Wordpress Plugin</a></h2><br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<h2><a name="blogger">Integrating With Blogger</a></h2><br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<h2><a name="more">More To Come...</a></h2><br/>


</div>
